:root {
  --LightBlue: #0094F3;
  --LightGray: #616161;
}


@font-face {
  font-family: Roboto;
  src: url(./roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(./roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Black;
  src: url(./roboto/Roboto-Black.ttf);
}


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Roboto-Light', sans-serif;
  background-color: #000;
  /* background-image: url(./public/bg_img.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  color: #FFF;
  margin: 0;
  padding: 20px;
  min-width: 350px;
}

a {
  text-decoration: none;
  color: #FFF;
}

.bold {
  font-family: 'Roboto';
}

.main {
  margin: 0 auto;
  max-width: 350px;
}

/* ----- Header ----- */

.header {
  display: grid;
}

.logo, .expand {
  cursor: pointer;
}

.logo {
  display: block;
  position: relative;
  font-size: 16px;
  flex-grow: 1;
}

.expand {
  display: inline-block;
  height: 17px;
  float: right;
}

.expand span {
  height:17px;
  width:17px;
}

img.menu-icon {
  height: 100%;
}
/* ----- Content----- */


.content-container {
  text-align: center;
}

.headline-container {
  text-align: left;
}

.headline-container div {
  width: 350px;
}

.headline {
  font-family: 'Roboto';
  font-size: 3em;
}

.subheadline {
  font-size: 1em;
}

.form-container {
  text-align: center;
  margin: 0 auto;
  max-width: 350px;
}

.signup {
  border: 1px solid var(--LightGray);
  border-radius: 2px;
  margin: 20px 0; 
}

.form-container input, .form-container button {
  display: block;
  width: 100%;
  height: 30px;
  margin: 0;
  box-sizing: border-box;
  border: none;
  color: #FFF;
  cursor: pointer;
}

.form-container input {
  background:rgba(0, 0, 0, 0.5);
  padding-left: 10px;
}

.form-container input:nth-child(2){ 
  border-top: 1px solid var(--LightGray);
  border-bottom: 1px solid var(--LightGray);
}

.form-container button {
  background:var(--LightBlue);
}

.form-container button:hover {
  color: var(--LightBlue);
  background-color: #FFF;
}

/* ----- Footer ----- */
.footer {
  display: grid;
  left: 0;
  bottom: 0;
  margin-top: 40px;
  width: 100%;
  font-size: 0.750em;
  grid-row-gap: 20px;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-link {
  font-family: 'Roboto-Black';
  text-transform: uppercase;
  white-space: nowrap;
}

.copyright {
  text-align: center;
}

@media screen and (min-width: 750px) {

  .main {
    max-width: 1200px;
  }

  .content {
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-row-gap: 0;
  }

  .content-container {
    padding: 60px;
  }

  .footer {
    position: fixed;
    padding: 0 20px;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
      "copyright footer-nav";
  }

  .footer-nav {
    grid-area: footer-nav;
  }

  .footer-link {
    letter-spacing: 0.125em;
  }

  .copyright {
    text-align: left;
    grid-area: copyright;
  }
}

@media screen and (min-width: 900px) {
  .footer {
    grid-template-columns: 60% 40%;
  }
}


::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #fff;
}