:root {
  --LightBlue: #0094F3;
  --LightGray: #616161;
}


@font-face {
  font-family: Roboto;
  src: url(./roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(./roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Black;
  src: url(./roboto/Roboto-Black.ttf);
}


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Roboto-Light', sans-serif;
  background-color: #000;
  background-image: url(./public/bg_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  margin: 0;
  padding: 20px;
  min-width: 350px;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #FFF;
}

.bold {
  font-family: 'Roboto';
}

/* ----- Header ----- */

.header {
  display: flex;
  max-width: 1200px;
  height: 55px;
  margin: 0 auto;
}

.nav-container {
  display: none;
}

.logo-container, .nav-container, .menu-container {
  position: relative;
}

.logo-container {
  width: 100%;
}

.logo {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.875em;
}

.menu-container {
  width: 55px;
}

.menu {
  position: absolute;
  bottom: 0;
  right: 0;
}

.logo, .menu {
  cursor: pointer;
}

.logo {
  font-size: 1.875em;
}

.menu {
  height: 30px;
  width: 30px;
}

.menu span {
  height: 20px;
}

img.menu-icon {
  height: 100%;
}

.mobile-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background-color: brown;
  padding: 10px;
  z-index: 2;
}


.close-button {
  display: block;
  text-align: right;
  padding: 0 20px;
}

.mobile-nav a {
  display: block;
  height: 30px;
}
/* ----- Content----- */
.content {
  margin: 0 auto;
  max-width: 350px;
}

.content-container {
  text-align: center;
  margin: 40px 0;
}

.headline-container {
  text-align: left;
}

.headline-container div {
  width: 350px;
}

.headline {
  font-family: 'Roboto';
  font-size: 3em;
}

.subheadline {
  font-size: 1em;
}

.form-container {
  text-align: center;
  margin: 0 auto;
  max-width: 350px;
}

.signup {
  border: 1px solid var(--LightGray);
  border-radius: 2px;
  margin: 20px 0; 
}

.form-container input, .form-container button {
  display: block;
  width: 100%;
  height: 40px;
  margin: 0;
  box-sizing: border-box;
  border: none;
  color: #FFF;
  cursor: pointer;
}

.form-container input {
  background:rgba(0, 0, 0, 0);
  padding-left: 10px;
}

.form-container input:nth-child(2){ 
  border-top: 1px solid var(--LightGray);
  border-bottom: 1px solid var(--LightGray);
}

.form-container button {
  background:var(--LightBlue);
}

.form-container button:hover {
  color: var(--LightBlue);
  background-color: #FFF;
}

/* ----- Footer ----- */
.footer {
  display: grid;
  margin: 40px auto 20px auto;
  width: 100%;
  max-width: 350px;
  font-size: 0.750em;
  grid-row-gap: 20px;
  
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-link {
  font-family: 'Roboto-Black';
  text-transform: uppercase;
  white-space: nowrap;
}

.copyright {
  text-align: center;
}

@media screen and (min-width: 750px) {

  .header {
    padding: 0 20px;
  }

  .logo-container {
    width: 25%;
  }

  .nav-container {
    display: block;
    width: 50%;
  }

  .header-nav {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .menu-container {
    width: 25%;
  }

  .content {
    display: grid;
    height: 500px;
    max-width: 1200px;
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-row-gap: 0;
  }

  .content-container {
    padding: 60px;
  }

  .footer {
    padding: 0 20px;
    max-width: 1200px;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
      "copyright footer-nav";
  }

  .footer-nav {
    grid-area: footer-nav;
  }

  .footer-link {
    letter-spacing: 0.125em;
  }

  .copyright {
    text-align: left;
    grid-area: copyright;
  }
}

@media screen and (min-width: 900px) {
  .footer {
    grid-template-columns: 60% 40%;
  }
}


::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #fff;
}